$blue: #46A9CD;
$green: #6DA96C;
$yellow: #CAB463;
$purple: #BD61C9;

body {
  padding: 0;
  margin: 0;
}

header > nav {
  display: block;
  width: 100%;
  background: $blue;
  > ul {
    margin: 0;
    > li {
      display: inline-block;
      list-style-type: none;
      a {
        display: block;
        padding: 10px 15px;
        color: #FFF;
        text-decoration: none;
        &:hover {
          background: darken($blue, 15);
        }
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.flex-container > article {
  min-height: 150px;
  width: 100%;
  margin: auto;
  flex: 1 0 auto;
  background: $blue;
  color: white;
  font-family: Times, serif;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  &:nth-child(2){
    background: darken($blue, 10);
  }
  &:nth-child(3){
    background: lighten($blue, 15);
  }
  &:nth-child(4){
    background: $green;
  }
  &:nth-child(5){
    background: lighten($green, 15);
  }
  &:nth-child(6){
    background: $yellow;
  }
  &:nth-child(7){
    background: lighten($purple, 15);
  }
  &:nth-child(8){
    background: $purple;
  }
}

@media all and (min-width: 600px) {
  .flex-container > article {
    width: 33%;
    float: left; // Fallback IE 8
    &.w50 {
      width: 50%;
    }
    &.w100 {
      width: 100%;
    }
  }
}

user-profile {
  display: inline-block;
}
user-profile::shadow{
  .profile {
    display: inline-block;
    width: 350px;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black;

    p {
      margin: 0;
      &.username {
        font-size: 1.2rem;
        font-weight: 600;
      }
      &.usertitle {
        margin-bottom: 15px;
      }
    }

    .picture {
      float: left;
      margin-right: 15px;
      width: 100px;
      height: 100px;
      background: #212121 url('') no-repeat center center;
      background-size: cover;
      border: 2px solid $blue;

      &.round {
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}