body {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-family: HelveticaNeue, serif;
  font-weight: 200;
  font-style: italic;
  text-align: center; }

header > nav {
  display: block;
  width: 100%;
  background: #46A9CD; }
  header > nav > ul {
    margin: 0; }
    header > nav > ul > li {
      display: inline-block;
      list-style-type: none; }
      header > nav > ul > li a {
        display: block;
        padding: 10px 15px;
        color: #FFF;
        text-decoration: none; }
        header > nav > ul > li a:hover {
          background: #2a7e9c; }

/* ------------ **
* START EXERCISE *
** ------------ */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .flex-container > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0;
    min-height: 150px;
    background: #46A9CD; }
    .flex-container > article:nth-child(3n+2) {
      background: #308eb0; }
    .flex-container > article:nth-child(3n+3) {
      background: #6ebcd8; }
    .flex-container > article p {
      padding: 0 20px; }
      .flex-container > article p + p {
        margin-top: 10px; }

@media all and (min-width: 768px) {
  .flex-container > article {
    width: 33%; }
    .flex-container > article.w50 {
      width: 50%; }
    .flex-container > article.w100 {
      width: 100%; } }

@media all and (min-width: 600px) and (max-width: 767px) {
  .flex-container > article {
    width: 50%; }
    .flex-container > article.w100 {
      width: 100%; } }

.w100 ~ article {
  position: relative; }
  .w100 ~ article:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    background-image: url("../images/moebius-triangle.svg");
    background-size: contain; }
